*{
	box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color:#212121;
}

.header{
  border-bottom: 1px solid #595959;
}
	
.container{
   max-width: 1196px;
   margin: 0 auto;   
}	

.header__inner{
	display: flex;
	justify-content: space-between;
	max-height: 128px;
	font-size: 19px;
    line-height: 155%;
	font-weight: 400;	
	text-transform: uppercase;
	color: #fff;
	padding-top: 50px;
	padding-bottom: 0px;
	/*border-bottom: 1px solid #595959; */
}	

.header__line{
	margin-right: 20px;
	margin-left: 20px;
}	

.header__line img{
	padding-bottom: 5px;
}	

.header__frelancer-spec{
	margin-right: auto;
}	

.header__main-menu{
	display: flex;
	justify-content: space-between;
	margin: 0;
    text-align: right;    
}

.header__menu-item{
	list-style-type: none;
	padding-left: 24px;
}

.header__menu-item:first-child{
	padding-left: 0px;
}

.header__menu-item a{
	color: #fff;
    text-decoration: none;  	
}

.header__menu-item a:hover{
	border-bottom: 1px solid #fff;
	padding-bottom: 50px
}

.header__menu-item_active{
	border-bottom: 1px solid #fff;
	padding-bottom: 50px
}

.freelancer-info{
	border-bottom: 1px solid #595959;
}

.freelancer-info__picture{
	width:50%;
}

.freelancer-info__picture img {
  opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */
}

.freelancer-info__inner{
	padding-top: 124px;
	padding-bottom: 145px;
	display: flex;
	justify-content: space-between;
	color: #fff;
}

.freelancer-info__description{
	padding-left: 52px;
	padding-top: 34px;
	width:50%;
}

.freelancer-info__header{
	font-weight: 500;
	font-size: 44px;
	line-height: 108.41%;
	width: 100%;
	padding-bottom: 45px;
}

.freelancer-info__details{
	font-size: 22px;
	line-height: 155%;
	font-weight: 400;
	padding-bottom: 45px;
}

.freelancer-info__contacts{
	display: flex;
	justify-content: space-between;
}

.freelancer-info__contacts a{
	text-decoration: none;
	color: #fff;
	font-size: 23px;
	line-height: 108.41%;
	font-weight: 700;
}

.projects{
	border-bottom: 1px solid #595959;
	padding-bottom: 100px;
}

.projects__inner{
	color: #fff;
}

.projects__header{
	padding-top: 92px;
	padding-bottom: 100px;
	font-size: 33px;
	line-height: 153%;
	font-weight: 400;
	text-transform: uppercase;
}


.portfolio a{
	color: #fff;
	text-decoration: none;
	width: 50%;
	padding-left: 52px;
}

.portfolio a:first-child{
	color: #fff;
	text-decoration: none;
	width: 50%;
	padding-left: 0;
	padding-right: 52px;
}

.portfolio__inner{
	display: flex;
	justify-content: space-between;
	margin-bottom: 120px;
	width: 100%;
}

.portfolio__box{
	max-width: 570px;
}

.portfolio__image{
	display:flex;
	justify-content: center;
}

.portfolio__image img{
	width:  464px;
    height: 587px;
}

.portfolio__header{
	font-weight: 700;
	font-size:    22px;
	line-height: 108.41%;    
	margin-bottom: 12px;
	margin-left: 35px;
}

.portfolio__description{
	font-weight: 400;
	font-size: 16px;
	line-height: 141%;
	padding-bottom: 28px;
	margin-left: 35px;
}

.portfolio__box_theme_lightblue{
	background-color: #49C2DD;
}

.portfolio__box_theme_blue{
	background-color: #1833BF;
}

.portfolio__box_theme_yellow{
	background-color: #E7D95B;
}

.portfolio__box_theme_orange{
	background-color: #D04B00;
}

.services{
	border-bottom: 1px solid #595959;
	padding-bottom: 200px;
}

.services__inner{
	color: #fff;
	display: flex;
	justify-content: space-between;
}

.services__header{
	padding-top: 92px;
	padding-left: 51px;
	/*padding-bottom: 100px;*/
	font-size: 33px;
	line-height: 153%;
	font-weight: 400;
	text-transform: uppercase;
	width: 50%;
}

.services__box{
	display: flex;
	justify-content: space-between;
	padding-top: 115px;
	padding-left: 52px;
	width: 50%;
}

.services__block{
	font-size: 18px;
    line-height: 25px;
	font-weight: 400;
	padding: 0; 
}	

.services__block li{
    list-style-type: none;   	
	margin-bottom: 20px;
}	

.process{
	padding-bottom: 164px;
}

.process__inner{
	color: #fff;
	display: flex;
	justify-content: space-between;
}

.process__header{
	padding-top: 92px;
	padding-left: 51px;
	/*padding-bottom: 100px;*/
	font-size: 33px;
	line-height: 153%;
	font-weight: 400;
	text-transform: uppercase;
	width: 50%;
}

.process__box{
	width: 50%;
	padding-left: 52px;
}
	
.process__description{
	padding-top: 92px;
	padding-bottom: 80px;
	font-weight: 400;
	font-size: 25px;
	line-height: 38px;
}

.process__step{
	padding-bottom: 70px;
}	

.process__step-header{
	font-weight: 700;
	font-size: 22px;
	line-height: 199%;
	margin-bottom: 18px;
}	

.process__step-details{
	font-weight: 400;
	font-size: 16px;
	line-height: 146%;
}	

.footer{
	background-color:#1D1D1D;
	display: flex;
	justify-content: center;
}

.footer__inner{
	color:#fff;
	max-width: 560px;
}

.footer__email{
	padding-top: 178px;
	padding-bottom: 109px;
	font-weight: 700;
	font-size: 61px;
	line-height: 108%;
}

.footer__social-media-item{
	font-weight: 700;
	font-size: 23px;
	line-height: 108%;
	padding-left: 48px;
}

.footer__social-media{
	display:flex;
	justify-content: center;
	padding-bottom: 178px;
}