*{
	box-sizing: border-box;
}

.page{
  font-style: normal;
  background-color:#000000;
  color: #fff;
}

/* Блок header */
.header{
   background-image: url(../images/solar_back.jpg); 
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   max-width: 100%;
   height: 800px;
}

.header_title{
	padding-top: 256px;
	padding-bottom: 26px;
}

/* Вспомогательный блок container */	
.container{
   max-width: 1200px;
   margin: 0 auto;   
}	

/* Блок title */	
.title{
	font-family: 'Roboto', sans-serif;
}	
	
.title_h1{
    font-weight: 700;
    font-size: 96px;
	line-height: 100%;
}

.title_h2{
	font-weight: 500;
	font-size: 47px;
	line-height: 140%;
	/* identical to box height, or 66px */
	letter-spacing: 1px;
}

.title_h3{
	font-weight: 700;
	font-size: 24px;
	line-height: 20px;
	/* identical to box height, or 83% */
	text-transform: capitalize;	
}


/* Блок text */	
.text{
	font-family: 'Roboto', sans-serif;
}	

.text_descriptor{
	padding-bottom: 20px;
	font-size: 24px;
	line-height: 130%;
}	

.text_main{
	font-size: 18px;
	line-height: 130%;
	/* or 23px */
}	

/*-----*/
.header__text{
	font-size: 23px;
	line-height: 160%;
}

/* Блок descriptor */	
.descriptor{
	padding-top: 60px;
}

.descriptor_info{
	max-width: 778px;
}

/* Блок planets */	
.planets{
	padding-top: 180px;
}

.planets__inner{
	display:flex;
	justify-content: space-between;
	margin-right: -411px;
}
	
.planets_title{
	padding-bottom: 20px;
}

.planets_info-title{
	padding-bottom: 20px;
}

.planets__img{
	padding-bottom: 43px;
}

.planets_info{
	max-width: 436px;
	padding-right: 56px;
}

/* Блок small-objects */	
.small-objects{
	padding-top: 200px;
}

.small-objects__inner{
	display:flex;	
}

.small-objects_info-title{
	padding-top: 80px;
}	

.small-objects_info{
	padding-right: 60px;
}	

.small-objects_text{
	max-width: 780px;
}	

.small-objects__img{
	padding-top: 80px;
}

/* Блок outside */	
.outside{
	padding-top: 200px;
}

.outside__img{
	padding-top: 60px;
	padding-bottom: 60px;
}

.outside__inner{
	display:flex;
	padding-bottom: 70px;
}

.outside_text{
	padding-right: 60px;	
}	


/* Блок great-outside */	
.great-outside{
	padding-top: 200px;
}

.great-outside__img{
	padding-top: 67px;
}

.great-outside__inner{
	display:flex;
	padding-bottom: 70px;
	justify-content: space-between
}

.great-outside_text{
	max-width: 570px;	
}	
		
	