*{
	box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  background-color:#000000;
  color: #fff;
}

.header{
   background-image: url(../images/solar_back.jpg); 
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   max-width: 100%;
   height: 800px;
}
	
.container{
   max-width: 1200px;
   margin: 0 auto;   
}	

.header__title{
    font-weight: 700;
    font-size: 96px;
	line-height: 100%;	
	padding-top: 256px;
	padding-bottom: 26px;
	
}

.header__text{
	font-size: 23px;
	line-height: 160%;
}

.descriptor{
	padding-top: 60px;
}

.descriptor__text{
	padding-bottom: 20px;
	font-size: 24px;
	line-height: 130%;
	max-width: 778px;
}

.planets{
	padding-top: 180px;
}

.planets__inner{
	display:flex;
	justify-content: space-between;
	margin-right: -411px;
}
	
.planets__title{
	font-weight: 500;
	font-size: 47px;
	line-height: 140%;
	/* identical to box height, or 66px */
	letter-spacing: 1px;
	padding-bottom: 20px;
}

.planets__img{
	padding-bottom: 43px;
}

.planets__info-title{
	font-weight: 700;
	font-size: 24px;
	line-height: 20px;
	/* identical to box height, or 83% */
	text-transform: capitalize;	
	padding-bottom: 20px;
}

.planets__info-text{
	font-size: 18px;
	line-height: 130%;
	/* or 23px */
	max-width: 436px;
	padding-right: 56px;
}

.small-objects{
	padding-top: 200px;
}

.small-objects__title{
	font-weight: 500;
	font-size: 47px;
	line-height: 140%;
	/* identical to box height, or 66px */
	letter-spacing: 1px;
}	

.small-objects__inner{
	display:flex;	
}

.small-objects__info-title{
	font-weight: 700;
	font-size: 24px;
	line-height: 20px;
	/* identical to box height, or 83% */
	text-transform: capitalize;	
	padding-top: 80px;
}	

.small-objects__info-text{
	font-size: 18px;
	line-height: 130%;
	padding-right: 60px;
}	

.small-objects__text{
	font-size: 18px;
	line-height: 130%;
	max-width: 780px;
}	

.small-objects__img{
	padding-top: 80px;
}

.outside{
	padding-top: 200px;
}

.outside__title{
	font-weight: 500;
	font-size: 47px;
	line-height: 140%;
	/* identical to box height, or 66px */
	letter-spacing: 1px;
}	

.outside__img{
	padding-top: 60px;
	padding-bottom: 60px;
}

.outside__inner{
	display:flex;
	padding-bottom: 70px;
}

.outside__text{
	font-size: 18px;
	line-height: 130%;
	max-width: 780px;	
	padding-right: 60px;	
}	

.great-outside{
	padding-top: 200px;
}

.great-outside__title{
	font-weight: 500;
	font-size: 47px;
	line-height: 140%;
	/* identical to box height, or 66px */
	letter-spacing: 1px;
}	

.great-outside__img{
	padding-top: 67px;
}

.great-outside__inner{
	display:flex;
	padding-bottom: 70px;
	justify-content: space-between
}

.great-outside__text{
	font-size: 18px;
	line-height: 130%;
	max-width: 570px;	
}	
		
	